/* Utility classes to prevent repeating lines */
.flex-horizontal {
    /* Applies a flex layout to place the contents in a horizontal line. */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-vertical {
    /* Applies a flex layout to place the contents in a horizontal line.*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Applies to all elements*/
* {
    /* Use border-box to include padding and border in the element's heigh and width */
    box-sizing: border-box;
}

/* Remove default spacing and sets default font to Poppins, and backup as sans-serif */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* Remove default padding */
main {
    padding: 0;
}

/* Navbar Properties */
header {
    /* Styling */
    background-color: #259425;
}

/* Sets the logo height to 120px and let it choose its own width to prevent warping of the image */
.logo {
    height: 120px;
    width: auto;
}

/* Remove default padding and centers the */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav .container {
    padding: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-collapse {
    /* Prevents the navbar-collapse width from growing */
    flex-grow: 0;
}
.navbar ul {
    /* Spacing for the navbar <li> elements */
    gap: 15px;
}
.navbar .nav-button {
    background-color: deepskyblue;
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 0 #0093c5
}

.dropdown-menu {
    background-color: deepskyblue;
}

.dropdown-item {
    color: white;
}
.nav-item {
    font-size: 1em;
}
.row1 {
    width: 100%;
    min-width: 0;
    gap: clamp(10px, 2vw, 30px);
    padding: 50px 0;
    background-color: white;
}

.row1 img {
    width: 100%;
    min-width: 0;
    max-width: 500px;
    height: auto;
    flex: 1 1 400px;
}

.row1-content {
    flex: 1 1 400px;
    min-width: 0;
}

.row1-content h1 {
    font-size: clamp(30px, 5vw, 50px);
}

.row1-content p {
    font-size: clamp(15px, 3vw, 30px);
}

.button {
    min-width: 100px;
    max-width: 200px;
    padding: 10px 20px;

    text-align: center;
    text-decoration: none;
    font-size: clamp(15px, 2vw, 25px);
    font-weight: 400;

    background-color: darkorange;
    color: white;
    box-shadow: 0 4px 0 0 #bf6b01;
    border-radius: 15px;
}
.media-article {
    gap: 20px;
}

.media-article-image {
    width: 100%;
    min-width: 0;
    max-width: 400px;
}

.media-article-image img {
    display: block;
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position:center;
    border-radius: 15px;
}
/* Homepage banner section */
.banner {
    padding: 25px;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center;

    background-image:
            linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
            url("../images/waterwell.jpg");
}

.banner-content {
    width: 100%;
    max-width: 1000px;
    color: white;
}

.banner-content h1 {
    font-size: clamp(25px, 5vw, 50px);
}

.banner-content p {
    font-size: clamp(15px, 5vw, 30px);
}

/* Quick reads section */
.quick-reads {
    background-color: #d3d3d3;
}
.quick-reads-content {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 25px;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    max-width: 600px;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.col-element {
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    gap: 25px;
    min-height: 300px;

    padding: 25px;

    border-style: solid;
    border-radius: 15px;
}

.col-header {
    min-height: 150px;
    width: 100%;
    gap: 50px;
}

.col-header h1 {
    font-size: clamp(30px, 5vw, 50px);
}

.col-header a {
    text-decoration: underline;
    color: black;
    font-size: clamp(15px, 5vw, 30px);
    font-weight: 300;
}

.col-element-text a {
    text-decoration: none;
    font-size: clamp(10px, 5vw, 25px);
    font-weight: 400;
    color: black;
}
.col-element img {
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    display: block;
}

/* Water page banner section */
.waterpage-banner {
    width: 100%;
    min-height: 600px;

    background-image:
            linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
            url("../images/waterhose.jpg");
    background-size: cover;
    background-position: center;
}

.waterpage-banner-content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    color: white;
}

.waterpage-banner-content h1 {
    font-size: clamp(30px, 5vw, 50px);
}

.waterpage-banner-content p {
    font-size: clamp(30px, 5vw, 30px);
}

/* About Us Section */
.about {
    min-height: 300px;

    gap: 50px;


    background-color: white;
}

.about-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.25);
}

.about-content {
    padding: 15px;
}

.about-content h1 {
    font-size: clamp(30px, 5vw, 50px);
}

.about-content p {
    font-size: clamp(30px, 5vw, 30px);
}

/* Footer section */
footer {
    gap: 10px;
    padding-block: 15px;

    background-color: #259425;
    color: white;
}

footer img {
    max-height: 150px;
    width: auto;
}

.description {
    max-width: 500px;
    width: 100%;
    height: auto;
}
.socials ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;

    gap: 20px;
    list-style-type: none;
    color: white;
}

.socials ul li {
    width: 150px;
    border-style: solid;
    border-radius: 10px;
}
.socials ul li a {
    font-size: clamp(10px, 5vw, 15px);
    text-decoration: none;
    color: white;
    padding: 5px;
    gap: 15px;
}
/* Smaller screen sizes*/
@media (max-width: 890px) {
    /* Make everything vertically aligned if the screen width becomes narrow*/
    .about,
    .quick-reads-content,
    .col-element,
    footer.flex-horizontal {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .navbar-collapse {
        width: 100%;
        flex-grow: 0;
    }

    .navbar-nav {
        width: 100%;
        align-items: stretch;
    }

    .row1 {
        flex-direction: column;
        padding: 30px 20px;
        gap: 25px;
    }

    .row1 img {
        width: 100%;
        max-width: 500px;
        border-radius: 15px;
    }

    .row1-content {
        width: 100%;
    }

    .socials ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* Layout template for media with text beside it */
.media-article {
    display: grid;
    grid-template-columns: 300px 1fr; /* The left column contains the media which is given a width of
                                         300px and the right column receives the left over space. */

/*  Allows the element to occupy 100% of the available screen space
    up to a maximum of 1000px for large desktop screens. */
    max-width: 1000px;
    width: 100%;

    padding: 25px;
    margin: 0 auto;

    align-items: start;
    justify-content: center;
}

.media-article h2 {
    font-size: clamp(15px, 5vw, 30px);
}

.media-article p {
    font-size: clamp(8px, 2vw, 18px);
}
.media-article-image img {
    display: block;
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 25px;
}

.media-article-image iframe {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 25px;
}

/* Energy page banner */
.energy-banner {
    /* Banner for the energy page. It is covered by a semi-transparent black gradient for contrast between texts */
    background-image:
            linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
            url("../images/solarpanels.jpg");
}

/* Calculator Page */
.calculator-contents {

    /* Lets it take up 80% of the width, then ensures it doesn't go over 800px wide*/
    width: min(80%,800px);

    /* Let's it decide the margins for the left and right side (centers it) */
    margin-inline: auto;

    /* Vertical margins */
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Removes the default margin for the h1 tag */
.calculator-contents h1 {
    margin: 0;
}

.calculator-container {
    /* Makes the container occupy 80% of the available space with a set maximum of 800px*/
    width: min(80%, 800px);
    gap: 10px;

    /* Creates a 2 x 4 grid */
    display: grid;
    grid-template-columns: 1fr 2fr; /* Right column gets double the amount of space than the left column */
    grid-template-rows: repeat(3, 1fr); /* Repeat the same columns another 3 rows down */

    /* Styling of grid elements*/
    padding: 15px;
    border-style: solid;
    border-radius: 15px;

    /* Adds a black box with 25% opacity and offset down by 10px
       to create a shadow effect. */
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.25);
}

/* Aligns text to the right */
.calculator-container label,
.calculator-container p {
}

/* Styling for the container where the results are printed */
.calculator-container p {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;

    padding: 2% /* Padding that scales with the parent element's size */;
}

/* Styling for the calculate button */
.calculator-button {
    margin: 8%;
    border-radius: 15px;
}

/* Makes the button change colour when a mouse hovers over it */
.calculator-button:hover {
    background-color: #b4b4b4
}

/* Make the title font-size occupy 3% of the viewport width */
.main-content h1 {
    font-size: 3vw;
    color: #0B6E4F;
}

.main-content p {
    font-size: 1.2vw;
}
/* Catherine Njaru side */
/*H6WD CA2 smart Home sustainability-style.css*/

.container{

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.main-content {
    min-height: 400px;
    background-image: url('../images/background4.jpg'); background-size: cover;

}

.hero{
    background-color: #DFF3E8;
    text-align: center;
    padding: 50px 20px;
}
.hero p{
    max-width: 600px;
    margin: 0 auto 25px auto;
}
.hero h2{
    color:#0B6E4F;
    margin-bottom: 15px;
}
h2,h3{
    color: #0B6E4F;
}
.button-group{
    display:flex;
    gap:15px;
    justify-content:center;
    flex-wrap:wrap;
}

form{
    background-color: #f5f7f5;
    padding: 20px;
}
form{
    background-color: #f5f7f5;
    padding: 20px;
    border-radius: 8px;
}
.energy-card{
    background:#ffffff;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.energy-card img{
    width: 80px;
    margin-bottom: 15px;

}
iframe{
    width:100%;
    border:none;
}
@media screen and (max-width: 768px){
    header{
        flex-direction: column;
    }
    nav a{
        display:block;
        margin-left: 0;
        margin-top: 5px;
    }

    .hero{
        padding: 25px 10px;
    }
    .col-md-4,
    .col-md-6{
        margin-bottom: 20px;
    }
}