/*H6WD CA2 smart Home sustainability-stye.css*/

body{
	font-family:Arial,sans-serif;
	background-color: #f5f7f5; 
	margin: 0;
}
header{
	background-color: #0B6E4F;
	color: #ffffff;
	text-align: center;
	padding: 20px;
}
header h1{
	margin: 0;
}
nav{
	margin-top: 10px;
	}
nav a{
	color: #ffffff;
	text-decoration: none;
	margin:10px;
	font-weight: bold;
}

nav a:hover{
	 color: #e9cf3e;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
main{
	min-height: 400px;
	background-image: url('images/background3.jpeg'); 
	background-size: cover;
	
}
.hero{
	background-color: #DFF3E8;
	text-align: center;
	padding: 50px 20px;
}
.hero p{
	max-width: 600px;
	margin: 0 auto 25px auto;
}
.hero h2{
	color:#0B6E4F;
	margin-bottom: 15px;
}
.hero-text{
	max-width: 900px;
	margin: 0 auto 30px auto;
	font-size: 1.2rem;
}
.hero.btn{
	margin:10px 5px;
}
h2,h3{
	color: #0B6E4F;
}
img{
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.button-group{
	display:flex;
	gap:15px;
	justify-content:center;
	flex-wrap:wrap;
}
.info-box{
	background-color: #ffffff;
	padding: 25px;
	border-left: 5px solid #0B6E4F;
	border-radius: 8px;
	height: 100%;
}

form{
	background-color: #f5f7f5;
	padding: 20px;
}
form{
	background-color: #f5f7f5;
	padding: 20px;
	border-radius: 8px;
}
.result{
	background-color: #DFF3E8;
	padding: 15px;
	margin-top: 20px;
	font-weight: bold;
}
.energy-card{
	background:#ffffff;
	padding: 25px;
	border-radius: 10px;
	text-align: center;
	height: 100%;
	box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.energy-card img{
	width: 80px;
	margin-bottom: 15px;

}
.error{
	color: #ff0000;
	font-weight: bold;
}
iframe{
	width:100%;
	border:none;
}
footer{
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	padding: 15px;
	margin-top: 10px;
}
@media screen and (max-width: 768px){
	header{
		flex-direction: column;
	}
	nav a{
		display:block;margin-left: 0;
		margin-top: 5px;
	}

.hero{
	padding: 25px 10px;
	}
	.col-md-4,
	.col-md-6{
		margin-bottom: 20px;
	}
}

.form {}
