nav ul {
    display: flex;
}
nav li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: 150px;
    background-color: darkgreen;
    text-align: left;
}

nav li a {
    color: black;
}

nav li a.active {
    color: yellow;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.mybackground {
    background-image: url('images/background.jpg');
    background-size: cover;
  
}
